:root {
  --background: #242424;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background-color: #242424;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}